*{
    margin: 0;
    padding:0;
}


header{
    background-color: black;
    color: white;
    padding: 20px;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 10x;
}

.nice{
background-color: black;
color: white;
justify-content: vertical;
;
}
/* .nav{
justify-content: horizontal;
align-items: horizontal;
gap: Grid;
text-align: inline-block; 
} */
 .nav {
  display: flex;           /* Turns the container into a flexbox */
  align-items: center;     /* Vertically centers items */
  gap: 20px;               /* Adds spacing between items */
  list-style: none;        /* Removes bullet points (if using <ul>) */
  padding: 0;              /* Removes default padding */
  background: black    /* Optional: background color */
  height: 50px;            /* Optional: sets navbar height */
}

.navbar li {
  margin: 0;              /* Removes default margins */
}

.section1{
    background-color: grey;
    color: white;
    text-align: center;
}
.section2{
    background-color: white;
    color: black;
    text-align: center;
}
